<!DOCTYPE html>
<html>
<head>
	{% load staticfiles %}
<link rel="shortcut icon" href="{% static '/images/tx.jpg' %}" />
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<meta http-equiv="Pragma" content="no-cache">
<meta http-equiv="Cache-Control" content="no-cache">
<meta http-equiv="Expires" content="0">
<title>Me - Weigo.com</title>
<meta name="keywords" content="My home" />
<meta name="description" content="My home" />
		<style type="text/css">
img.wp-smiley,
img.emoji {
	display: inline !important;
	border: none !important;
	box-shadow: none !important;
	height: 1em !important;
	width: 1em !important;
	margin: 0 .07em !important;
	vertical-align: -0.1em !important;
	background: none !important;
	padding: 0 !important;
}
</style>
<link rel='stylesheet' id='style-css'  href="{% static 'css/style(2).css' %}" type='text/css' media='all' />
<link rel='stylesheet' id='lmlblog-css'  href="{% static 'css/lmlblog.css' %}" type='text/css' media='all' />
<link rel='stylesheet' id='all-css'  href="{% static 'css/all.css' %}" type='text/css' media='all' />
<script type='text/javascript' src="{% static 'js/jquery.min(2).js' %}"></script>
<script type='text/javascript' src="{% static 'js/ueditor.all.min.js' %}"></script>
</head>
<body>
<!-- 菜单 -->
<div class="menu-bar">
<div class="head_content">
<h1 class="m-logo"><a></a></h1>
<div id="nav" class="menu-menu-1-container"><ul id="menu-menu-1" class="menu">
<li class="menu-item menu-item-type-custom"><a href="#1"><i class="fa fa-home"></i>Homepage</a></li>
<li class="menu-item menu-item-type-taxonomy menu-item-object-category">
<!--<li class="menu-item"><a href="#1">微博</a></li>-->
<li id="menu-item" class="gengxin menu-item"><a href="#1">Video</a></li>
<li class="menu-item menu-item-has-children"><a href="#1">Friends</a>
<ul class="sub-menu">
	<li class="menu-item"><a href="#">刘青羽</a></li>
	<li class="menu-item"><a href="#">王佳乐</a></li>
	<li class="menu-item"><a href="#">依依</a></li>
	<li class="menu-item"><a href="#">陈红</a></li>
</ul>
</li>
<li class="menu-item menu-item-has-children"><a href="#1">Modify</a>
	<ul class="sub-menu">
	<li class="menu-item"><a href="/email_modify1">modify email</a></li>
	<li class="menu-item"><a href="/password_modify1">modify password</a></li>
	</ul>
</li>
</ul></div> 
<div class="head_user_info">
  <ul>
<li id="head_login" onclick="window.location.href=('/logout')">Logout</li> <!--修改为logout-->
   <!-- <li id="head_login" onclick="#1">登录</li>
   <span class="head_login_middle">or</span>
   <li id="head_reg" onclick="#1">注册</li> --></ul>
</div>
<div style="clear: both;"></div>
</div>
</div><!-- menu-bar -->
<div style="clear: both;"></div><div class="lmlblog-member-main" data="1">
<div class="lmlblog-member-bg">
<div class="lmlblog-member-content">
<div class="lmlblog-member-header">
<div class="lmlblog-member-avatar other">
<img src="https://timgsa.baidu.com/timg?image&quality=80&size=b9999_10000&sec=1541509884718&di=0788c356c9023854cd433b04e25aecbc&imgtype=0&src=http%3A%2F%2Fimgsrc.baidu.com%2Fimgad%2Fpic%2Fitem%2F8d5494eef01f3a29fc125bea9325bc315c607c38.jpg" class="avatar"/>
<i class="lmlblog-verify lmlblog-verify-a" title="username"></i></div>
<div class="lmlblog-member-username">
<h1>{{ request.session.user_email }}</h1>
<span class="lmlblog-mark lmlblog-girl"><i class="fa fa-mars"></i></span>
<span class="lmlblog-mark lmlblog-lv" title="经验：3815">Lv.6</span>
<span class="lmlblog-mark lmlblog-vip">VIP 6</span></div>
<div class="lmlblog-member-desc">Individual resume</div>
<div class="lmlblog-member-follow-info">
<a href="" target="_blank" rel="nofollow"><span class="follow no opacity"><i class="lmlblog-icon"></i>+ Watch</span></a>
<span class="opacity"><i class="lmlblog-icon">&#xe612;</i>Whisper</span>
</div>
</div>
<div class="lmlblog-member-menu clear">
<li class="on">My home</li>
<li><a href=url("/music") target="_blank">Music</a></li>
<li><a href="http://www.lmlblog.com/blog/sikongqi/essay.html" target="_blank">Essay</a></li>
<li><a href="http://www.lmlblog.com/blog/sikongqi/video.html" target="_blank">Video</a></li>
</div>
<div class="lmlblog-member-content-list clear">
<div class="lmlblog-member-left">
<div class="lmlblog-member-left-follow clear">
<li>
<strong>168</strong>
<span>Attention</span>
</li>
<li>
<strong>666</strong>
<span>Fans</span>
</li>
<li>
<strong>888</strong>
<span>Likes</span>
</li>
<li>
<strong>888888</strong>
<span>Popular</span>
</li>
</div>
<div class="lmlblog-member-left-bg-music clear">
<h3>Background music</h3>
<div id="lmlblog-memeber-bg-music" class="aplayer"></div>
<img src="http://wx2.sinaimg.cn/large/9c774d91gy1ft4lhr5vbmg20jp08okbw.gif" alt="司空琪">
<audio src="https://img.jinsom.cn/user_files/12551/bg-music/music_1530776683.mp3" autoplay controls></audio>
</div>
<div class="lmlblog-member-left-profile">
<h3>Introduction</h3>
<li><i class="fa fa-address-book-o"></i> I D：<span>16301097<span></li>
<li><i class="fa fa-transgender"></i> Gender：<span>Female<span></li>
<li><i class="fa fa-map-marker"></i> City：<span>Beijing China<span></li>
<li><i class="fa fa-smile-o"></i> Signature：<span>No Signature until now.<span></li>	
<div class="lmlblog-member-left-profile-hide">
<li><i class="fa fa-qq"></i> Q Q：<span>1062489172<span></li>	
<li><i class="fa fa-wechat"></i> Wechat：<span>18514520601<span></li>	
<li><i class="fa fa-clock-o"></i> Birthday：<span>1998-05-15<span></li>
</div>
<div class="lmlblog-member-left-profile-more">See more <i class="fa fa-angle-right"></i></div>
</div>

<!-- <div class="lmlblog-member-left-visitor clear">
<h3>Recent visitors</h3>
<li><a href="#1" title="AccessT：22分钟前"><img src="picture/1.gif" class="avatar" /><p>born</p></a></li>
<li><a href="#2" title="访问时间：3小时前"><span class="lmlblog-vip-icon"></span><img src="picture/qi.jpg" class="avatar" /><p>司空琪</p></a></li>
<li><a href="#3" title="访问时间：10小时前"><span class="lmlblog-vip-icon"></span><img src="picture/2.gif" class="avatar" /><p>晴川</p></a></li>
<li><a href="#4" title="访问时间：14小时前"><img src="picture/3.gif" class="avatar" /><p>大白兔</p></a></li>
<li><a href="#5" title="访问时间：15小时前"><img src="picture/4.jpg" class="avatar" /><p>momo</p></a></li>
<li><a href="#6" title="访问时间：1天前"><span class="lmlblog-vip-icon"></span><img src="picture/5.png" class="avatar" /><p>啦啦啦123</p></a></li>
<li><a href="#7" title="访问时间：1天前"><img src="picture/6.gif" class="avatar" /><p>随风</p></a></li>
<li><a href="#8" title="访问时间：1天前"><img src="picture/7.gif" class="avatar" /><p>哒哒</p></a></li>
<li><a href="#9" title="访问时间：1天前"><img src="picture/8.gif" class="avatar" /><p>陌若</p></a></li>
<li><a href="#10" title="访问时间：2天前"><span class="lmlblog-vip-icon"></span><img src="picture/9.gif" class="avatar" /><p>hidhz</p></a></li>
<li><a href="#11" title="访问时间：2天前"><span class="lmlblog-vip-icon"></span><img src="picture/10.gif" class="avatar" /><p>老虎</p></a></li>
<li><a href="#12" title="访问时间：3天前"><img src="picture/11.gif" class="avatar" /><p>不要演有事说</p></a></li>
<li><a href="#13" title="访问时间：3天前"><img src="picture/12.gif" class="avatar" /><p>瑾似流年</p></a></li>
<li><a href="#14" title="访问时间：3天前"><img src="picture/13.gif" class="avatar" /><p>九张机</p></a></li>
<li><a href="#15" title="访问时间：4天前"><img src="picture/14.jpg" class="avatar" /><p>美美哒</p></a></li>
<li><a href="#16" title="访问时间：4天前"><span class="lmlblog-vip-icon"></span><img src="picture/15.gif" class="avatar" /><p>zanbocm</p></a></li>
<li><a href="#2528" title="访问时间：4天前"><img src="picture/16.gif" class="avatar" /><p>yfdaifhc</p></a></li>
<li><a href="#52" title="访问时间：4天前"><img src="picture/17.png" class="avatar" /><p>xcxla</p></a></li>
<li><a href="#0292" title="访问时间：4天前"><img src="picture/18.jpg" class="avatar" /><p>墨虹客栈</p></a></li>
<li><a href="#1753" title="访问时间：5天前"><img src="picture/19.jpg" class="avatar" /><p>空间吧</p></a></li>
</div> -->
<div class="lmlblog-member-left-bg-xg clear">
<h3>Related suggestion</h3>
<div id="lmlblog-memeber-bg-xg" class="aplayer"></div>
<a href="http://www.lmlblog.com/blog/yanlingjiao/1.html" target="_blank"><h2>王佳乐 homepage</h2>
<img src="http://www.lmlblog.com/blog/yanlingjiao/images/jiao8.jpg" alt="燕凌姣个人主页">
<p>This is her Introduction</p></a>
</div>
</div>
<div class="lmlblog-member-right">
<div class="lmlblog-post-list">
<div  class="lmlblog-posts-list words" style="background-image:url(../static/images/058.png); " data="4197">

<!-- 动态内容部分，包括列表 -->
<div class="lmlblog-post-user-info">
<div class="lmlblog-post-user-info-avatar" user-data="1">
<a href="#1" style="display: inline-block;">
<span class="lmlblog-vip-icon"></span><img src="{% static '/images/tx2.jpg' %}" class="avatar"/><i class="lmlblog-verify lmlblog-verify-a" title="司空琪"></i></a>
<div class="lmlblog-user-info-card">
<div class="info_card_loading"><img src="{% static '/picture/chat-loading.gif' %}"><p>Loading...</p>
</div>
</div>
</div>

<div class="lmlblog-post-user-info-name">
<a href="#1">
<font style="color:#333;font-weight:600">王佳乐</font>
</a>
<span class="lmlblog-mark lmlblog-lv" title="经验：3815">Lv.6</span><span class="lmlblog-mark lmlblog-vip">VIP 6</span>
</div>
<div class="lmlblog-post-user-info-time" title="2017-12-14 05:25">12-14 05:25</div>
</div><!-- 作者信息 -->
<div class="lmlblog-post-setting">
<i class="fa fa-angle-down"></i>
<div  class="lmlblog-post-setting-box">
<ul>
<a href="#" title="查看全文"><li>See article</li></a>
<a href="#1" title="访问主页"><li>Visit homepage</li></a>
</ul>
</div>
</div>
<div class="lmlblog-post-content ">
<a class="post_list_link" href="#">
<P>　　疏星淡月，紫陌曲岸，持觞游赏，神移长川。一片彀纹，溶溶泄泄，忽而烟靡云敛。睹一丽人，缦立青水，云蒸雾霭，花衬善睐。荧荧兮若北辰之荣现，扰扰兮若紫玉之生烟。颜如舜华，迫闻素腰华琚摇;和颜静志，远望渌水呈雾绡。戏流光之夜蝶，采舞雪之琼花，流眷眷之眸光，润荣曜之笑靥。</P>
<P>　　偶得美人回顾，思之朝朝暮暮。采芝兰以明愫，寄琼琚以作妆。余咏永慕叹道长，彼应影独愿偕芳。才知世有解语，不过琪语溯光。<img src="{% static '/images/66.png' %}" alt="[s-65]" class="wp-smiley"/>
<img src="{% static '/images/8.png' %}" alt="[s-65]" class="wp-smiley"/></P></a>
</div>
<div class="lmlblog-post-images-list clear">
<a href="{% static '/images/qi01.jpg' %}" data-fancybox="gallery" data-caption='<i class="fa fa-copyright"></i> lmlblog'>
<img src="{% static '/images/qi01.jpg' %}" alt="司空琪吧十一月壁纸"/></a>
<a href="{% static '/images/qi02.jpg' %}" data-fancybox="gallery" data-caption='<i class="fa fa-copyright"></i> lmlblog'>
<img src="{% static '/images/qi02.jpg' %}" alt="司空琪吧十一月壁纸"/></a>
<a href="{% static '/images/qi03.jpg' %}" data-fancybox="gallery" data-caption='<i class="fa fa-copyright"></i> lmlblog'>
<img src="{% static '/images/qi03.jpg' %}" alt="司空琪吧十一月壁纸"/></a>
</div>
<div class="lmlblog-post-bar">
<li class="lmlblog-no-like" onclick='lmlblog_like_posts(4197,this,"post");'>
<i class="lmlblog-icon">&#xe608;</i> <span>5</span>
</li>
<li onclick='list_comments_show(this);'>
<i class="lmlblog-icon">&#xe633;</i> <span>5</span>
</li>
<li onclick='lmlblog_pop_login_style();'>
<i class="lmlblog-icon"></i>评论 <span>0</span>
</li>
<li>
<i class="lmlblog-icon">&#xe602;</i> <span>1.2w</span>
</li>
<li class="tag clear">
<i class="lmlblog-icon">&#xe895;</i><a href="#2" title="司空琪壁纸"># 司空琪壁纸</a></li>
</div>
<div class="lmlblog-post-like-list">
<a href="#17" id="had_like_11788">
<img src="{% static '/picture/11.gif' %}" class="avatar" /></a>
<a href="#18" id="had_like_11499"><img src="{% static '/picture/12.gif' %}" class="avatar" /></a>
<a href="#22" id="had_like_11488"><img src="{% static '/picture/20.png' %}" class="avatar" />
<i class="lmlblog-verify lmlblog-verify-a" title="认证信息：作者许仙白"></i></a><a href="#22" id="had_like_11477">
<img src="{% static '/picture/13.gif' %}" class="avatar" />
<i class="lmlblog-verify lmlblog-verify-a" title="认证信息：168号计师"></i></a><a href="#22" id="had_like_1">
<img src="{% static '/images/tx2.jpg' %}" class="avatar"/>
<i class="lmlblog-verify lmlblog-verify-a" title="司空琪"></i></a></div>
<div class="lmlblog-post-footer-bar">
<span title="2017-12-14 05:25:48">12月14日 05:25</span>
<span>电脑端</span><i class="lmlblog-icon" onclick="lmlblog_post_type_open();">&#xe62c;</i></div>

</div>
<!-- posts_list -->
<div class="lmlblog-pager"><a class="lmlblog-pager-left" href="#2">上一页</a>
<div class="lmlblog-pager-center layui-form">
<select>
<option  value="#=1">第 1 页</option>
<option  value="#=2">第 2 页</option>
<option selected="selected" value="#3">第 3 页</option>
</select>第 1 页</div>
<a class="lmlblog-pager-right" href="#3">下一页</a></div>	
 </div>
</div>
</div>
</div>
</div>	
</div>
<!-- 底部 -->
<div style="clear:both"></div>
<div class="footer">
<div class="footer_b_foot">
<div class="footer_b_top">
</div>
<div class="footer_b_bottom">Design by 2017 画江湖杯莫停  司空琪个人主页 司空琪微博/空间/贴吧官博。内容源于网络搜集,仅学习、分享交流。</div>
  </div>  
</div>
<!-- 返回顶部 -->
<a href="javascript:returnTop();" class="cd-top"></a>
<script type="text/javascript">
var sdelay=0;
function returnTop() {
 window.scrollBy(0,-100);//Only for y vertical-axis
 if(document.body.scrollTop>0) { 
  sdelay= setTimeout('returnTop()',50);
 }
}
</script>
</body>
<script type='text/javascript' src="{% static '/js/base.js' %}"></script>
<script type='text/javascript' src="{% static '/js/all.js' %}"></script>
<script type='text/javascript' src="{% static '/js/plupload.full.min.js' %}"></script>
<script type='text/javascript' src="{% static '/js/layui.js' %}"></script>
<script>
jQuery(document).ready(function($){
$.fn.smartFloat = function() {
var position = function(element) {
var top = element.position().top, pos = element.css("position");
$(window).scroll(function() {
var scrolls = $(this).scrollTop();
if (scrolls > top) {
if (window.XMLHttpRequest) {
element.css({
position: "fixed",
top: 0
});
} else {
element.css({
top: scrolls
});
}
}else {
element.css({
position: "absolute",
top: top
});
}
});
};
return $(this).each(function() {
position($(this));
});
};
$(".lmlblog-member-left-bg-xg").smartFloat();
});
</script>
</html>