<!doctype html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Register</title>
        {% load staticfiles %}
        <link rel="stylesheet" href="{% static '/css/style.css' %}">
        <link rel="shortcut icon" href="#" />
    </head>
    <body>
        <main>

            <!-- insert your code here -->
             <div class="login2">
            <div class="login">
                <!-- 猫头鹰控件 -->
				 <div id="owl-login" class="login-owl"></div><br>
                		<div class="arms">
							<div class="arm"></div>
							<div class="arm-r"></div>
						</div>
            <div id="login1">

                  <form action="/password_modify" method="POST" onsubmit="return validate();">
                      {% csrf_token %}
                    <span>Welcome! {{email}}</span><br>

                      <span>old password</span><br>
                    <input type="password" id="input4" onchange="change7()" onblur="change8()" name="oldpassword"/><div id="yy4"></div><br>
                    <span>Password</span><br>
                    <input type="password" id="input2" onchange="change2()" onblur="change5()" name="newpassword1"/><div id="yy2"></div><br>
                    <span>password confirmation</span><br>
                    <input type="password" id="input3" onchange="change3()" onblur="change6()" name="newpassword2"/><div id="yy3"></div><br>

                    <div id="id"><span></span>
                   <input type="button" value="Back" id="button1" window.location.href=('/me')"/>
                    <input type="submit" value="Confirm" id="button"/><br>
                    </div>
                       </form>
                     <br>
                    <div id="yy">  <span id="hint">{{ form.non_field_errors }}{{ mes }}</span></div>
                    <span id="hint1">{{ mes1 }}</span>
            </div></div>
            </div>


        </main>

        <script type="text/javascript">

            var i2=document.getElementById("input2");
            var i3=document.getElementById("input3");
            var i4=document.getElementById("input4");
            var l=document.getElementById("yy");

            var l2=document.getElementById("yy2");
            var l3=document.getElementById("yy3");
            var l3=document.getElementById("yy4");

            var judge2=0;
            var judge3=0;
            var judge4=0;

                 function change5(){
                var str1=document.getElementById("input2").value;

                if(str1==""){
                    i2.style.border = 'solid grey';
                    l2.innerHTML='<span id="hint">Cannot be empty!</span>';
                    judge2=0;
                }
                }
                     function change8(){
                var str1=document.getElementById("input4").value;

                if(str1==""){
                    i4.style.border = 'solid grey';
                    l4.innerHTML='<span id="hint">Cannot be empty!</span>';
                    judge4=0;
                }
                }

                 function change6(){
                var str1=document.getElementById("input3").value;

                if(str1==""){
                    i3.style.border = 'solid grey';
                    l3.innerHTML='<span id="hint">Cannot be empty!</span>';
                    judge3=0;
                }
                }


               function validate(){

                 var str2=document.getElementById("input2").value;
                   var str3=document.getElementById("input3").value;
                   var str4=document.getElementById("input4").value;
                 if(str2==""||str3==""||str4==""){

                     if(str2==""){
                      i2.style.border = 'solid grey';
                   }
                    if(str3==""){
                      i3.style.border = 'solid grey';
                   }

                     if(str4==""){
                      i4.style.border = 'solid grey';
                   }
                    l.innerHTML='<span id="hint">Please complete all!</span>';
                    l2.innerHTML='';
                    l3.innerHTML='';
                    l4.innerHTML='';
                    return false;

           }
           else{
           if(judge2==1&&judge3==1&&judge4==1){
           return true;
           }
           else{
           return false;
           }
           }
               }

                 function change7(){
                var str1=document.getElementById("input4").value;

                if(str1==""){
                    i4.style.border = 'solid grey';
                    l4.innerHTML='<span id="hint">Cannot be empty!</span>';
                       judge4=0;
                }
                else{
                    i4.style.border = 'solid green';
                    judge4=1;
                    l4.innerHTML='';
                }


                 }
                 function change2(){

                var str2=document.getElementById("input2").value;
                    if(str2==""){
                        i2.style.border = 'solid grey';
                        l2.innerHTML='<span id="hint" style="color:red">Cannot be empty!</span>';
                        judge2=0;
                    }
                    else{
                        if(!/[A-Z]/.test(str2)||!/[0-9]/.test(str2)){
                          l2.innerHTML='<span id="hint">Your password should include upper letter and number!</span>';
                           i2.style.border = 'solid red';
                             judge2=0;
                        }
                       else if(str2.length<6){
                        i2.style.border = 'solid red';
                        l2.innerHTML='<span id="hint">Password too short.</span>';
                        judge2=0;
                    }
                    else{
                       i2.style.border = 'solid green';
                       judge2=1;
                       l2.innerHTML='';
                    }

                }
            }
                function change3(){
                var str2=document.getElementById("input2").value;
                var str3=document.getElementById("input3").value;
                    if(str3==""){
                        i3.style.border = 'solid grey';
                       l3.innerHTML='<span id="hint">Cannot be empty!</span>';
                        judge3=0;
                    }
                    else{
                        if(str2==str3){
                        i3.style.border = 'solid green';
                        judge3=1;
                         l3.innerHTML='';
                    }
                    else{
                        i3.style.border = 'solid red';
                        l3.innerHTML='<span id="hint">Password mismatch.</span>';
                        judge3=0;
                    }
                }
            }
        </script>
    </body>
</html>
